body, html {
  height: 100%;
  margin: 0;
  background-color: black;
}
a:visited {
  color: #E1B900;
}
a:link {
  color: #E1B900;
}
footer {
  font-family: 'IM Fell DW Pica SC', serif;
  color: transparent;
  text-shadow: 0 0 32px white;
  color: white;
  background-color: black;
  height: 9%;
  font-size: 15px;
}
#Hero {
  background-image: url(../img/ChosenBG.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'IM Fell DW Pica SC', serif;
  color: transparent;
  text-shadow: 0 0 32px white;
  color: white;
  background-color: black;
}
#typed {
  font-size: 30px;
  margin-left: 16%;
  opacity: .9;
  position: absolute;
  padding-top: 15%;
  font-family: 'Rock Salt', cursive;
  color: transparent;
  text-shadow: 0 0 32px white;
  color: white;
}
/*My Story Page*/
#Story {
  font-family: 'IM Fell DW Pica SC', serif;
  color: transparent;
  text-shadow: 0 0 32px white;
  color: transparent
  background-color: black;
  background-image: url(../img/Chosen.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110%;
}

.Plot {
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 50px;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 32px white;
  opacity: .3;
  color: white;
}
.PlotText {
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 42px;
  width: 90%;
  padding-left: 10%;
  color: transparent;
  text-shadow: 0 0 32px white;
  opacity: .3;
  color: white;
}
/*Tour Page*/
#Tour {
  background-image: url(../img/Chosen4.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 140%;
 font-family: 'IM Fell DW Pica SC', serif;
  color: transparent;
  text-shadow: 0 0 32px white;
  color: white;
  background-color: black;
}
.TourHeading {
  font-size: 48px;
  font-family: 'IM Fell DW Pica SC', serif;
  color: white;
  text-align: center;
  opacity: .2;
  margin-top: 21%;
}
/*Media Page*/
#Media {
  font-family: 'IM Fell DW Pica SC', serif;
  color: transparent;
  text-shadow: 0 0 32px white;
  color: white;
  background-color: black;
}
.Enigma {
  height: 300px;
  width: 300px;
}
.EnigmaHeading {
  font-size: 40px;
  font-family: 'IM Fell DW Pica SC', serif;
  padding-left: 27%;
  color: white;
  font-family: 'IM Fell DW Pica SC', serif;
}
.TrackList {
  font-size: 40px;
  font-family: 'IM Fell DW Pica SC', serif;
  color: transparent;
  text-shadow: 0 0 32px white;
  opacity: .9;
  color: white;
  padding-left: 20%;
  font-family: 'IM Fell DW Pica SC', serif;
}
.Tracks {
  font-size: 35px;
  width: 500px;
  margin-left: 17%;
  color: transparent;
  text-shadow: 0 0 32px white;
  opacity: .9;
  color: white;
  font-family: 'IM Fell DW Pica SC', serif;
}
.Tracks li {
  display: inline;
  font-size: 30px;
  font-family: 'IM Fell DW Pica SC', serif;
  color: transparent;
  text-shadow: 0 0 32px white;
  opacity: .9;
  color: white;
  font-family: 'IM Fell DW Pica SC', serif;
}
.AlbumCover {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  margin-left: 18%;
}
.projects {
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 40px;
  text-align: center;
  padding-bottom: 7%;
  color: transparent;
  text-shadow: 0 0 32px white;
  opacity: .9;
  color: white;
}
.song {
  font-size: 25px;
  font-family: 'IM Fell DW Pica SC', serif;
  text-decoration: underline;
  color: transparent;
  text-shadow: 0 0 32px white;
  opacity: .9;
  color: #E1B900;
}
.lyric {
  font-size: 14px;
  font-family: 'IM Fell DW Pica SC', serif;
  width: 300px;
  padding-bottom: 9%;
  color: transparent;
  text-shadow: 0 0 32px white;
  opacity: .9;
  color: white;
}
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 480px) {
  #Hero {
    background-image: url(../img/ChosenBG.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140%;
    font-family: 'IM Fell DW Pica SC', serif;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
    background-color: black;
  }
  #typed {
    font-size: 20px;
    margin-left: 16%;
    opacity: .9;
    position: absolute;
    padding-top: 19%;
    font-family: 'Rock Salt', cursive;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
  }
  .Plot {
    font-size: 30px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .3;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .PlotText {
    font-size: 18px;
    width: 80%;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .3;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  #Tour {
    background-image: url(../img/Chosen6.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    width: 107%;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
    background-color: black;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .TourHeading {
    font-size: 19px;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .7;
    color: white;
    margin-top: 2%;
    margin-left: 48%;
    text-align: center;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .Enigma {
    height: 200px;
    width: 200px;
  }
  .EnigmaHeading {
    font-size: 28px;
    padding-left: 17%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .TrackList {
    font-size: 20px;
    font-family: 'IM Fell DW Pica SC', serif;
    text-decoration: underline;
    padding-left: 32%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .Tracks {
    font-size: 18px;
    width: 300px;
    margin-left: 10%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .Tracks li {
    display: inline;
    font-size: 15px;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .AlbumCover {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-left: 9%;
  }
  .projects {
    font-size: 40px;
    padding-top: 4%;
    padding-bottom: 4%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .song {
    font-size: 19px;
    text-decoration: underline;
    font-weight: 300;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: #E1B900;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .lyric {
    font-size: 17px;
    font-weight: bold;
    width: 300px;
    padding-bottom: 9%;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    margin-left: 6%;
    font-family: 'IM Fell DW Pica SC', serif;
  }
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #Hero {
    background-image: url(../img/ChosenBG.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140%;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  #typed {
    font-size: 27px;
    margin-left: 15%;
    color: white;
    opacity: .9;
    position: absolute;
    padding-top: 19%;
    font-family: 'Rock Salt', cursive;
  }
}
@media (min-width: 992px) {
  #typed {
    font-size: 65px;
    margin-left: 19%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    position: absolute;
    padding-top: 15%;
    font-family: 'Rock Salt', cursive;
  }
  /*My Story Page*/
  #Story {
    font-family: 'IM Fell DW Pica SC', serif;
    color: transparent;
    text-shadow: 0 0 32px white;
    background-color: black;
  }
  .Plot {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 30px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
    opacity: .3;
  }
  .PlotText {
    font-size: 30px;
    width: 90%;
    padding-left: 5%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .3;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  /*Tour Page*/
  #Tour {
    background-image: url(../img/Chosen4.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140%;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .TourHeading {
    font-size: 110px;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .2;
    color: white;
    text-align: center;
    margin-top: 27%;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  /*Media Page*/
  #Media {
    font-family: 'IM Fell DW Pica SC', serif;
    background-color: black;
  }
  .Enigma {
    height: 500px;
    width: 500px;
    padding-left: 15%;
  }
  .EnigmaHeading {
    font-size: 80px;
    font-family: 'IM Fell DW Pica SC', serif;
    padding-left: 20%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
  }
  .TrackList {
    font-size: 40px;
    text-decoration: underline;
    margin-left: 21%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .Tracks {
    font-size: 35px;
    width: 70%;
    margin-left: 15%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .6;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .Tracks li {
    display: inline;
    font-size: 30px;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .AlbumCover {
    width: 47%;
    height: 47%;
    border-radius: 15px;
    margin-left: 25%;
  }
  .projects {
    font-size: 80px;
    text-align: center;
    padding-bottom: 7%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  .song {
    font-size: 30px;
    font-weight: 400;
    margin-left: 20%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
  color: #E1B900;
  font-family: 'IM Fell DW Pica SC', serif;
  }
  .lyric {
    font-size: 25px;
    width: 440px;
    padding-bottom: 9%;
    margin-left: 20%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .9;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
}
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .Plot {
  font-family: 'IM Fell DW Pica SC', serif;
    font-size: 50px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .7;
    color: white;
  }
  .PlotText {
    font-size: 36px;
    width: 60%;
    margin-left: 15%;
    color: transparent;
    text-shadow: 0 0 32px white;
    opacity: .7;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
  }
}
