body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}
#Hero{
  background-image: url(../img/ChosenBG.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 140%;
  font-family: 'Rock Salt', cursive;
}
#typed{
  font-size: 45px;
  margin-left: 19%;
  color: white;
  opacity: .4;
  position: absolute;
  padding-top: 10%;
  font-family: 'Rock Salt', cursive;
}
/*My Story Page*/
#Story{
  font-family: 'Rock Salt', cursive;
}
.Plot{
  font-family: 'Rock Salt', cursive;
  font-size: 50px;
  text-align: center;
}
.PlotText{
  font-family: 'Alice', serif;
  font-size: 22px;
  width: 90%;
  padding-left: 10%;
}
/*Tour Page*/
#Tour{
  background-image: url(../img/AlbumCover);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 140%;
  width: 100%;
  font-family: 'Rock Salt', cursive;
}
.TourHeading{
  font-size: 80px;
  font-family: 'Rock Salt', cursive;
  color: white;
  text-align: center;
  opacity: .2;
  margin-top: 27%;
}
/*Media Page*/
#Media{
  font-family: 'Rock Salt', cursive;
}
.projects{
  font-family: 'Rock Salt', cursive;
  font-size: 60px;
  text-align: center;
  color: #4681F7;
  padding-bottom: 7%;
  opacity: .8;
}
.song{
  font-size: 25px;
  font-family: 'Special Elite', cursive;
  text-align: inherit;
  color: #4681F7;
  opacity: .8;
}
.lyric{
  font-size: 19px;
  font-family: 'Special Elite', cursive;
  color: #4681F7;
  font-weight: bold;
  opacity: .8;
  width: 400px;
  padding-bottom: 9%;
}




/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 480px) {
  #Hero{
    background-image: url(../img/ChosenBG.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140%;
    font-family: 'Rock Salt', cursive;
  }
  #typed{
    font-size: 17px;
    margin-left: 20%;
    color: white;
    opacity: .4;
    position: absolute;
    padding-top: 19%;
    font-family: 'Rock Salt', cursive;
  }



/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576){
  #typed{
    font-size: 35px;
    margin-left: 19%;
    color: white;
    opacity: .4;
    position: absolute;
    padding-top: 15%;
    font-family: 'Rock Salt', cursive;
  }

 }




/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #typed{
    font-size: 30px;
    margin-left: 19%;
    color: white;
    opacity: .4;
    position: absolute;
    padding-top: 15%;
    font-family: 'Rock Salt', cursive;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #typed{
    font-size: 65px;
    margin-left: 19%;
    color: white;
    opacity: .4;
    position: absolute;
    padding-top: 15%;
    font-family: 'Rock Salt', cursive;
  }
  /*My Story Page*/
  #Story{
    font-family: 'Rock Salt', cursive;
  }
  .Plot{
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    text-align: center;
  }
  .PlotText{
    font-family: 'Alice', serif;
    font-size: 22px;
    width: 90%;
    padding-left: 10%;
  }
  /*Tour Page*/
  #Tour{
    background-image: url(../img/AlbumCover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140%;
    width: 100%;
    font-family: 'Rock Salt', cursive;
  }
  .TourHeading{
    font-size: 80px;
    font-family: 'Rock Salt', cursive;
    color: white;
    text-align: center;
    opacity: .2;
    margin-top: 27%;
  }
  /*Media Page*/
  #Media{
    font-family: 'Rock Salt', cursive;
  }
  .projects{
    font-family: 'Rock Salt', cursive;
    font-size: 60px;
    text-align: center;
    color: #4681F7;
    padding-bottom: 7%;
    opacity: .8;
  }
  .song{
    font-size: 25px;
    font-family: 'Special Elite', cursive;
    text-align: inherit;
    color: #4681F7;
    opacity: .8;
  }
  .lyric{
    font-size: 19px;
    font-family: 'Special Elite', cursive;
    color: #4681F7;
    font-weight: bold;
    opacity: .8;
    width: 400px;
    padding-bottom: 9%;
  }


/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
